models/
images/
pretrained_models/
__pycache__/
SurebotLog/
access.log
gunicorn_log.log
celery_log.log
supervisord.log
supervisord.pid
.git
.eggs
eggs
lib
lib64
parts
sdist
var
*.pyc
*.swp
.DS_Store
glove.6B
images
data
*.xlsx
.ipynb
key/*.json
.sh

